@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
.hero-area {
    padding: 70px 0 60px;
}
body{
    font-family: 'Roboto', sans-serif;
    zoom: 90%;
}

.profilesnipitarea,
.profilestatsarea {
    min-height: 500px;
    /* border: 1px solid black; */
    box-shadow: 0 0 4px #dad5d512;
    
    padding: 0;

}  

.inf_ctg {
    margin: 0px;
    padding: 5px;
    text-align: center;
    line-height: 23px;
}
.topallprofilestatshalf{
    padding-top: 0px;
}
.boxss {
    
    padding-top: 10px;

    box-shadow: 0 1px 4px 4px #67545426;
    height: max-content;
    cursor: auto;
    margin-top: 10px;
}

.profileachivments {
    display: inline-block;
    height: 57.6px;
    width: 57.6px;
    margin: 5px;
    background-color: aqua;
}

.profileupdatetime {
    font-size: xx-small;
}

.inf_eng {
    position: relative;
}

.passetss {
    position: relative;
}

.profilestatsarea_stats {
    display: flex;
    justify-content: space-evenly;
}

.profilestats {
    margin: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: gray;
    text-transform: uppercase;
}

span.num {

    font-size: 29px;
    line-height: 1.6;
    color: black;
}

.presets {
    padding: 10px;
}

.brandsworkedwith {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    /* background-color: rgb(230, 66, 93); */
    border-radius: 50%;
    box-shadow: 0 0 4px 5px #847e7e24;
}

.topprofilementions {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    /* background-color: rgb(0, 162, 255); */
    border-radius: 50%;
    box-shadow: 0 0 4px 5px #847e7e24;
}

.btimg {
    width: 120px;
    height: 120px;
}

.recentpost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.instagrampost {
    margin-bottom: 15px;
    background-color: #fdf0d5;
    cursor: pointer;
}

.instagrampostimage {
    width: 230px;
    height: 230px;
    background-color: aquamarine;
}

.instagrampostimage:hover {
    /* background-size: 2%; */
    filter: blur(2px);

}

.instagrampoststats {
    padding-top: 0px;
}

.fa-heart {
    color: red;
}

.fa-comment-alt {
    color: royalblue;
}

.dualrowright {
    padding-left: 4px;
}

.dualrowleft {
    padding-right: 4px;
}

@media only screen and (max-width: 600px) {
    div.profilesnipitarea.col-md-4>div {
        padding: 0;
    }

    .dualrowright {
        padding-left: 15px;
    }

    .dualrowleft {
        padding-right: 15px;
    }
}



/* .stickyprofile{
    
}
.stickyprofilestats{
    
} */
.row{
    margin-left: auto;
    margin-right: auto;
}

html:not([data-scroll='0']) .topallprofilestats {
    position: fixed;
    top: 72px;
    z-index: 99999;
    width: 740px;
}


@media only screen and (max-width: 1199px) {


    html:not([data-scroll='0']) .topallprofilestats {
        width: 620.5px;
    }

    .profilestats {
        font-size: 10px;
    }

}

@media only screen and (max-width: 767px) {
    html:not([data-scroll='0']) .topallprofilestats {
        position: relative;
        display: none;
    }
    .profileachivments {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 5px;
        background-color: aqua;
    }

    .profilestats {
        font-size: 10px;
    }

    .dualrowright,
    .dualrowleft {
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .dualrowleft {
        padding-top: 10px;
    }
    .boxss {
        margin: 0 21px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    html:not([data-scroll='0']) .topallprofilestats {
        display: none;
    }
}