@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDEFF1;

}
.hero-area {
    padding: 70px 0 60px;
}
.instagrampost {
    padding-top: 19px;
    background-color: #ffffff; 
    padding: 7px 10px;
    text-align: center;
    margin-bottom: 15px;
    /* background-color: #d9ff00; */
    box-shadow: 0 0 4px #0000004d;
    border-radius: 10px;
    cursor: pointer;
}
.instagrampostimage {
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    background-color: #edeff1;
}

.fa-heart {
    color: #ff00007a;
}

.fa-comment-alt {
    color: #919398;
}
.fa-search{
    color: #919398;
}
.fa-eye{
    color:#ff6161;
}
.fa-retweet{
    color:#ff6161;
}
.boxsec{
    text-align: center;
}

.instagrampoststats{
    padding-top: 10px;
}

.instagrampoststatslikes,.instagrampoststatscomments, .youtubepostviews,.twitterpostretweet{
    padding: 0px 5px;
}
.postprofile {
    padding-bottom: 7px;
    padding-top: 0px;
    text-align: left;
}
.postusername{
    display: inline;
    font-size: 16px;
    padding-left: 40px;
}
.btn-primary {
    color: #fff;
    background-color: #6caaec;
    border-color: #6caaec;
}
.form-control{
    width: auto;
}

select.form-control{
    display: inline-block;
}
.profileimageofuser{
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: blue;
    top: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.socialiconpost{
    font-size: 20px;
}
@media (max-width: 767px){
    .pr-2, .px-2 {
        padding-right: .0rem!important;
        padding-left: .0rem!important;
    }
    .row {
        margin-right: -0px;
        margin-left: -0px;
    }
}